# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# IDE
.DS_Store
.vscode/
.idea/

