# Secrets
.pypirc

# Build artifacts
dist/
build/
*.egg-info/

# Caches
__pycache__/
.pytest_cache/

# OS/IDE
.DS_Store
.vscode/
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# IDE
.DS_Store
.vscode/
.idea/

